@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Please enter number</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtName">Your Name</label>
                        <div class="col-md-4">
                            <input id="txtName" name="txtName" type="text" placeholder="Your Name" class="form-control input-md" required>
                            <span class="help-block">Please enter your name</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtSalary">Gross Salary</label>
                        <div class="col-md-4">
                            <input id="txtSalary" name="txtSalary" type="text" placeholder="placeholder" class="form-control input-md">
                            <span class="help-block">Enter your full salary</span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">SHOW MY SALARY</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>